*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  background: linear-gradient(to left, #2b5876, #4e4376);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

}

p {
  padding: 10px;
  margin: 0 15px;
}
img{
  width: 20px;
  margin: auto 0;

}
h1{
  font-family: 'Times New Roman', serif;
  font-size: 40px;
}
h2{
  color: white;
  margin: 30px 0;
  text-shadow: 1px 1px 2px;
}

.container  {
  margin: 30px;
text-align: center;
background: #ffffff30;
width: 220px;
height: auto;
border-radius: 5px;

}


.br-bt{
  border-bottom: solid 2px #272a4c24;
  ;
}
.bt{
  margin: auto 0;

}


button{
  background: yellow;
  margin: 20px;
  width: 80%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;

}

button:hover{
  background: white;
}

/* Mobile */
@media (min-width: 350px) {

}

/* Tablet */

@media (max-width: 600px) {
  body{

    background: linear-gradient(to left, #2b5876, #4e4376);
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
  }

  .container  {
    margin: 5px 5px;
  text-align: center;
  background: #ffffff30;
  width: 100%;
  height: auto;
  border-radius: 5px;

  }
}
